.main__section__wrapper {
  width: 100vw;
  height: 100vh;
  .main__section__background {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
