.room_card {
  width: 18rem;
  overflow: hidden;
  .room_card_img_wrapper {
    overflow: hidden;
    // border: 1px solid black;
    .room_card_img {
      width: 100%;
      border-radius: 10px;
      height: 24rem;
    }
    &:hover {
      img {
        transition: 0.5s;
        transform: scale(1.5);
      }
    }
  }
  .room_card_info {
    .room_name {
      font-size: 20px;
      font-weight: 600;
    }
    .room_rating {
      color: #777777;
    }
    .room_price {
      color: #fc4c4c;
      font-size: 22px;
      font-weight: 750;
    }
    .room_per_night {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
