.hotel__management__page {
  padding: 20px;
  width: 100%;

  .search__input {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
.primary__button {
  background-color: #1890ff !important;
  color: #fff !important;
  border-color: #1890ff !important;
}
