.search__home__wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  .search__home__wrapper__input {
    background-color: white;
    padding: 15px 20px;
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
  }
  @media screen and(max-width: 800px) {
    width: 80vw;
  }
  @media screen and(max-width: 800px) {
    width: 90vw;
  }
}
