.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    width: 100%;
    padding: 20px;
    margin: 20px;

    .site-card-border-less-wrapper {
      p {
        font-size: 16px;
      }
      padding: 30px;
      background: #ececec;
      border-radius: 30px;
      .ant-card {
        width: 100% !important;
        border-radius: 30px;
        .ant-card-head-title {
          color: #ff690f;
          font-size: 30px;
          p.ant-col {
            vertical-align: middle;
          }
        }
        div.ant-row {
          div.room_wrapper {
            vertical-align: middle;
          }
        }
      }
    }
    .title {
      color: #ff690f;
      padding-bottom: 10px;
      &__center {
        color: #ff690f;
        padding-bottom: 10px;
        text-transform: uppercase;
      }
    }
    .main {
      display: flex;
      justify-content: space-around;
    }
    .item {
      display: flex;
      margin: 10px 0;
      span {
        margin-left: 10px;
      }
    }
    .icon {
      color: #ff690f;
      font-weight: 700;
    }
    .img_rooms {
      width: 100%;
      vertical-align: middle;
    }
    .img_rooms:hover {
      opacity: 0.8;
    }
  }
}
