.details__hotel__wrapper {
  padding: 0 15vw;
  margin-top: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    border-radius: 5px;
  }

  .details__hotel__row {
    width: 100%;

    .details__title__wrapper {
      .details__rating__number {
        background: #158f50;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 5px;
        color: white;
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      @media screen and (max-width: 992px) {
        .right {
          align-items: flex-start;
        }
      }
    }
    .details__gallery {
      .images {
        .details__hotel__image {
          display: inline-block;
        }
      }
    }

    .details__rating__wrapper {
      .rating {
        display: flex;
        align-items: center;
        font-weight: bold;
        span {
          background-color: #158f50;
          width: 5rem;
          height: 5rem;
          border-radius: 20px;
          padding-top: 10px;
          padding-left: 15px;
          color: white;
          font-weight: bold;
        }
        h3 {
          margin-left: 1rem;
          margin-bottom: 0;
        }
        p {
          margin-left: 1rem;
          padding: 0;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .right {
        align-items: flex-start;
      }
    }
  }
}
