.table__bookings {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  &__space {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__tag {
      font-size: 2rem;
    }
    &__search {
      width: 50vw;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
