.width-400 {
  width: 400px;
  margin: 10px;
}

.w-100 {
  width: 50px;
  overflow: hidden;
}
.m-10 {
  margin: 10px;
}
.float {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-10 {
}
