.city_card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_img_wrapper {
    height: 15rem;
    .city_card_img {
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  &_info {
    width: 100%;
    .city_name {
      padding-top: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    .city_total {
      color: #777777;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 777px) {
  .city_card {
    &_img_wrapper {
      height: 15rem;
      .city_card_img {
        width: 18rem;
      }
    }
  }
}

@media screen and (max-width: 645px) {
  .city_card {
    &_img_wrapper {
      height: 15rem;
      .city_card_img {
        width: 15rem;
      }
    }
  }
}

@media screen and (max-width: 557px) {
  .city_card {
    &_img_wrapper {
      height: 15rem;
      .city_card_img {
        width: 13rem;
      }
    }
  }
}
