.notfound__container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound__btn {
  padding: '5px 20px';
  border-radius: 5px;
}
