.transaction__wrapper {
  .space {
    width: 100%;
    justify-content: space-between;
    .horizontal__space {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .booking__username {
    color: var(--primary-color);
  }
  .feedback__space {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
